
.form-container {
    border: solid 1px; 
    padding: 10px;
    max-width: 600px;
    display: flex;
    margin: 0 auto;

    form {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .form-field {
            display: block;
            margin: 5px;
        }
        
        .drop-down {
            width: 50%;
        }

        button {
            margin-left: auto;
        }
    }
}

.table-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin-top: 24px;

    .no-courses-text {
        font-size: 24px;
        font-weight: 500;
        margin: 0 auto;
    }

    .user-details {
        margin-bottom: 12px;
        span {
            font-weight: 500;
        }
    }

    table {
        flex: 1 1 auto;
    }
}