
.form-container {
    width: 600px;
    margin: 0 auto;
    margin-top : 100px;
    border: solid 1px; 
    padding: 10px;
}

.form-field {
    display: block;
    margin: 5px;
}

.drop-down {
    width: 50%;
}

button {
    margin-left: auto;
}

table {
    width:  -webkit-fill-available;
    margin: 20px;
}

.table-container {
    width: fit-content;
}